<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Directory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    <div class="page-header  text-bg-dark">
        <div class="row">
            <div class="col-md-6 align-self-center ps-4">
                <span th:text="${#ctx.session.user.email}" />
                <span>with roles</span>
                <span th:each="role,iterStat : ${#ctx.session.user.roles}"
                    th:text="${#strings.replace(role, 'ROLE_', '')} + ${!iterStat.last ? ', ' : ''}"></span>
            </div>
            <div class="text-end col-md-6">
                <form action="#" th:action="@{/logout}" method="POST">

                    <input type="submit" class="btn btn-link link-secondary link-underline link-underline-opacity-0"
                        value="Logout" />

                </form>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-2">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active" aria-current="page" href="#">Admin</a>
                <a class="nav-link" href="#" th:href="@{/user}">User</a>
            </nav>
        </div>
        <div class="col-md-8">
            <h3>User Directory</h3>
            <!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->
            <div>
                <div>
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">New User</a>
                        </li>
                    </ul>
                </div>
                <div class="card px-0 rounded-0">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card-header mx-0 fs-3 fw-bold ">
                                All users
                            </div>
                            <div class="mx-3">
                                <table class="table table-bordered table-striped my-2 ">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>id</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Update/Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card-header mx-0 fs-3 fw-bold">
                                Add new user
                            </div>
                            <div class="container">
                                <p class="h4 mb-4 d-flex justify-content-center">Add User</p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <form id="newUserForm">
                                        <input type="text" name="username" placeholder="Username"
                                            class="form-control mb-4 ">
                                        <input type="text" name="formPassword" placeholder="Password"
                                            class="form-control mb-4 " value="password">
                                        <input type="text" name="firstName" placeholder="First name"
                                            class="form-control mb-4 ">
                                        <input type="text" name="lastName" placeholder="Last name"
                                            class="form-control mb-4 ">
                                        <input type="text" name="email" placeholder="Email" class="form-control mb-4 ">
                                        <div id="role-container">
                                        </div>
                                        <button type="submit" class="btn btn-success my-2">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateModalLabel">Update/Delete Form</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="userForm" class="d-flex flex-column align-items-center">
                        <label for="formId" class="col-form-label fw-bold">Id:</label>
                        <input type="number" id="formId" name="id" class="form-control w-50 mb-2 "
                            style="background-color: var(--bs-gray-200);" readonly>
                        <label for="formUsername" class="col-form-label fw-bold">Username:</label>
                        <input type="text" id="formUsername" name="username"
                            class="form-control mb-2 w-50 to-be-disabled">
                        <div id="passwordContainer" class="d-flex flex-column align-items-center w-100">
                            <label for="formPassword" class="col-form-label fw-bold">Password:</label>
                            <input type="text" id="formPassword" name="formPassword" class="form-control mb-2 w-50">
                        </div>
                        <label for="formFirstName" class="col-form-label fw-bold">First name:</label>
                        <input type="text" id="formFirstName" name="firstName"
                            class="form-control mb-2 w-50 to-be-disabled">
                        <label for="formLastName" class="col-form-label fw-bold">Last name:</label>
                        <input type="text" id="formLastName" name="lastName"
                            class="form-control mb-2 w-50 to-be-disabled">
                        <label for="formEmail" class="col-form-label fw-bold">Email:</label>
                        <input type="text" id="formEmail" name="email" class="form-control mb-2 w-50 to-be-disabled">
                        <label for="formRole" class="col-form-label fw-bold">Role:</label>
                        <div id="formRole">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="updateButton" type="submit" form="userForm" class="btn btn-success my-2">Save</button>
                    <a id="deleteButton" class="btn btn-danger btn-sm"
                        onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                        Delete
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="closeButton">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/render-table.js}"></script>
    <script type="text/javascript" th:src="@{/roles.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/modal.js}"></script>
    <script type="text/javascript" th:src="@{/form.js}"></script>
    <script type="text/javascript" th:src="@{/waterfall.js}"></script>
</body>

</html>